{% extends "users/base.html" %}
{% block content %}
<h2>Welcome to Magic Mirror!</h2>
<small>
    <p class="text-secondary">
        Giving you the information you need to know before you head out the door
    </p>
</small>
{% endblock content %}