{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<h2>You have successfully logged out.</h2>
<div class="border-top pt-3">
        <small class="text-muted">
            <a class="ml-2" href="{% url 'signin' %}">Sign In</a>
        </small>
    </div>
{% endblock content %}